.footer-left
 {  
    
    display:flex;
    flex-direction: row;
    flex: wrap;
    justify-content: space-evenly
    
}
.footer-floater {
    position: relative;
    bottom: 0;
    width:100%
}
/* .container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
} */
/* .footer-column {
    padding-right: 0px !important;
    padding-left: 0px !important;
} */