 .navbar .navbar-expand-md {
    padding: 0rem;
}
a {
    color: black !important;
    text-decoration: none !important;
    font-size: 1.3rem;
    font-weight: 400;
    
}
.Aquaria-text-logo {
    font-size:  1.5rem;
    
}
.navbar-dropdown {
    background-color: transparent !important;
}
.navbar-dropdown-options {
    
}
