.price {
    font-size: 1.5rem;
    color:rgb(43, 187, 173);
}

.featurs {
    font-size: 1.2em;
}

.bought-together {
   margin-left: 0px
}
.item-details-img {
    padding: 0.6em;
    padding-top: 2em;
    padding-bottom: 2em;
}