.item-details-container {
  display: flex;
  flex-direction: row;
  flex: wrap;
  
}
.item-details-mid-coulmn {
    display: flex;
    flex-direction: column;
    flex: wrap;  
}
.productDetaislTitle {
  font-size: 2.2rem;
  font-weight: 600;
}
.item-details-img {
    width: 25em;
    height: 20em;
    
}
.item-details-left-coulmn {
   
    display: flex;
    flex-direction: column;
    flex: wrap;
    
   
   
}
.item-details-right-coulmn {
    display: flex;
    flex-direction: column;
    flex: wrap;
  
    
   
   
   
}
.bought-together-pic {
    width: 300px;
   height: 300px;
}
.price {
  font-size: 1.5rem;
  color: rgb(43, 187, 173);
}

.featurs {
  font-size: 1.2em;
  font-weight: 400;
}

.bought-together {
  margin-left: 0px;
}
.item-details-img {
  margin: 0.6em;
  margin-bottom: 2em;
  border:3px solid black;
}

@media  (min-width: 330px) and (max-width: 800px) {
    .item-details-container {
        flex-direction: column;
    }
  .item-details-mid-coulmn {
    width: 330px;
  }
  .item-details-lef-column {
    min-width: 330px;
  }
  .item-details-right-coulmn {
    width: 330px;
  }
  .item-details-img {
    width: 330px;
  }
}
