.ViewOrders-CardBody {
    display: flex;
    justify-content:  space-between;
    
}

.ViewOrders-CardButton {
    display: flex;
    justify-content: center;
    position: relative;
   top:12px;
}

.ViewOrders-Scrollbar {
    height: 32em;
    overflow-y: auto;
    white-space: nowrap;


}

.ViewOrders-Card {
    background-color: rgb(135, 206, 235,0.7);
    margin:25px;
}
.ViewOrders-Card:hover {
    background-color: rgb(18, 172, 199);
}

.ViewOrders-StatusNav {
    display:flex;
    justify-content:  center;
}

.cart-component-item-image {
    max-width: 180px;
}




.cart-component-footer {
    margin: 1rem;
    
}

.cart-component-footer-details {
    float:right;
    margin-right: 3rem
}
.cart-hr {
   
    border: 0.15rem solid #0099CC;
    border-radius: 5px;
    
}




/* .viewOrders-mapping {
    display: flex !important; 
    flex-direction: row !important;
    justify-content: space-between;
    padding:15px !important;
}


.ViewOrders-Card {
    background-color: rgb(15, 168, 228);;
    width:600px;
    height:100px;
    text-decoration: underline;
    padding:10px;
    margin-left: 15px;
  

    
}
.viewOrders-card-previous {
    background-color: rgb(15, 168, 228, 0.5);
    width:600px;
    height:100px;
    text-decoration: underline;
    padding:10px;
    
}

.viewOrders-header {
    color:black;
    text-align: center;
    padding:10px;
}
.viewOrders {
    background-color: rgb(145, 131, 131);
    width: 650px;
    height: 600px;
    margin-left: 15px;
}

.viewOrders-Button {
    position: relative;
   margin-left: 150px;
    opacity:0.7;
   
} */





/* .shop-cart {
}

.shop-cart-item-card-container-flex {
  box-sizing: border-box;
 
  background-color: rgb(149, 176, 240);
  margin: 25px;
  display: flex;
  flex-direction: row;
  flex: wrap;
  
}
.shop-cart-item-card-details-flex {
    display: flex;
    flex-direction: row;
    flex: wrap;
    

}

.shop-cart-item-card-image {
  width: 160px;
  height: 160px;
  padding: 15px;
}
.shop-cart-item-price {
  color: red;
} */







